.idea
*.swp
.env
.env.bak
docker-compose.override.yml

jitsi-meet-cfg/web/**
!/jitsi-meet-cfg/web/interface_config.js
!/jitsi-meet-cfg/web/config.js
!/jitsi-meet-cfg/web/static/

jitsi-meet-cfg/jicofo/
jitsi-meet-cfg/jvb/
jitsi-meet-cfg/prosody/
jitsi-meet-cfg/transcripts/
!/jitsi-meet-cfg/prosody/prosody-plugins-custom/mod_token_moderation.lua
!/jitsi-meet-cfg/prosody/config/conf.d/jitsi-meet.cfg.lua
