.idea
*.swp
.env.bak
docker-compose.override.yml

!/.jitsi-meet-cfg/prosody/prosody-plugins-custom/mod_token_moderation.lua
!/.jitsi-meet-cfg/web/interface_config.js
/.jitsi-meet-cfg/web/**.key
/.jitsi-meet-cfg/web/**.crt
/.jitsi-meet-cfg/web/keys
/.jitsi-meet-cfg/web/nginx
.jitsi-meet-cfg/prosody/config/
.jitsi-meet-cfg/jvb/sip-communicator.properties
